AppGestorBuses/web/WEB-INF/wsdl/localhost_8080/WSBuses/WSGestionUsuario.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="RegistroAdmin" type="tns:RegistroAdmin"/>

<xs:element name="RegistroAdminResponse" type="tns:RegistroAdminResponse"/>

<xs:element name="RegistroChofer" type="tns:RegistroChofer"/>

<xs:element name="RegistroChoferResponse" type="tns:RegistroChoferResponse"/>

<xs:element name="RegistroEstacion" type="tns:RegistroEstacion"/>

<xs:element name="RegistroEstacionResponse" type="tns:RegistroEstacionResponse"/>

<xs:element name="Validar" type="tns:Validar"/>

<xs:element name="ValidarResponse" type="tns:ValidarResponse"/>

<xs:complexType name="RegistroAdmin">
<xs:sequence>
<xs:element name="Usuario" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistroAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistroEstacion">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
<xs:element name="Pass" type="xs:string" minOccurs="0"/>
<xs:element name="Tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistroEstacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistroChofer">
<xs:sequence>
<xs:element name="Clave" type="xs:string" minOccurs="0"/>
<xs:element name="Nombre" type="xs:string" minOccurs="0"/>
<xs:element name="Apellido" type="xs:string" minOccurs="0"/>
<xs:element name="Pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegistroChoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Validar">
<xs:sequence>
<xs:element name="Usuario" type="xs:string" minOccurs="0"/>
<xs:element name="Contrasena" type="xs:string" minOccurs="0"/>
<xs:element name="Tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ValidarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>